<!-- 

  GIT: is a version control system also known as VCS

  Basically Version Control system is the software designed to record changes made to the file over time.
  Git gives us ability to revert the files or set of files you made changes


  We have 3 kinds of Version Control System

  1.Local
  2.Cenralized
  3.Distributed

  Local Version Control System
  -------------------------------------

  Many people use this method
  This method is to copy files into another directory.
  They keep the files with the timestamp directory
  It is very simple that we maintain the backup
  

  Centralized Version Control System
  --------------------------------------

  DISTRIBUTED VERSION CONTROL SYSTEM
  ------------------------------------------

  # Clients not only checkout the snapshot of the files , they can also fully mirror the repository incluiding its full history

  # Every clone is a full backup of all the data


  @@ Three states in GIT

  Git has 3 main states that your files can reside in : modified, staged, and commited 

  @ Modified means that you have changed the file but have not commited it to your database yet.
  @ Staged means that you have marked a modified file in its current version to go into your next commit snapshot

  @ Committed means that the data is safely stored in your local database.

  

  GIT CONFIGURATION
  --------------------------
  Git uses a series of configuration files to determine the behaviour

  Git has multiple levels of configuration

  1.Repository/project level (local)
  2.User Account (Global level)
  3.System Level (Git Installation)

  Git Config Locations 
  **************************

 1. Local(Repository/Project level)
  <your-project-repository>/.git/config

 2. Global (User Level)
    C/Users/Private/.gitconfig

  
 COMMAND : Check Complete Git Config
 ------------------------------
  git config --list --show-origin

COMMAND : Get list of all available git commands
  git help - a

GIT Diff command
-----------------

Diff command is used in git to track the difference between the changes made on a file

Diff command takes two inputs and reflects the differences between them

** To check the changes in the working area and the staged area 

   git diff

** To check the changes between the stage area and the repository area
   
  git diff --staged

  GIT COMMAND TO RENAME THE FILE NAME
  -----------------------------------------
  git mv contact.txt contact.html //contact.txt would be renamed to contact.html


GIT COMMAND TO REMOVE THE FILE FROM STAGING AREA
----------------------------------------------------
git restore --staged

GIT COMMAND TO REMOVE THE FILE FROM working AREA
----------------------------------------------------
git restore 



GIT BRANCHING
-----------------------------

COMMAND TO CREATE A NEW BRANCH
---------------------------------
git checkout -b login-feature


COMMAND TO RENAME A  BRANCH
---------------------------------
checkout to the branch you wanna rename

git branch -m <branch-new-name-as-per-your-wish>


COMMAND TO DELETE A  BRANCH
---------------------------------
move to some other branch from branch you want to delete 

git branch -d <branch-name-you-want-to-delete>


MERGING TWO BRANCHES
---------------------------
Git Rebase 

**Rebase is one of the most powerful Git command 
**ebasing is often used as an alternative to merging
**Rebasing a branch updates one branch with another by applying the commits of one branch on top of the commits of another branch 

**Git Rebase is used to clean up our local commit history
** Rebase is a advanced command which is used rarely
** Merge preserve History
** Rebase dosnt preserve History

Common places where we can use Rebase

1.Cleaning up your commits before sharing your branch
2. Pulling changes from another branch without merge

----------------------------------------------------------------------
MODIFY OR CHANGE THE LAST OR LATEST COMMIT USING THE AMEND COMMAND
----------------------------------------------------------------------

git commit -ammend


---------------------------------------------
**GIT CHERRY PICK
---------------------------------

**Cherry Pick is used if you want to apply particular commit from one branch into another branch
**Cherry pick is mainly used if you dont want to merge the whole branch and you want some of the commits

Cherry pick just like rebase it is and advanced concept and also a powerful command .

Cherry-pick is a useful tool, but always it is not a good option.

It can cause duplicate commits.

Mainly cherry pick is used for the bug fixes where you want to place that bugfix commit in all the version branches

It is also used when we accidentally made a commit in wrong branch


***************************************************************************
Detached Head in GIT . How can we handle the detached head state in project
****************************************************************************
GIT HEAD -- when we are working we only checkout one branch at a time . This is also called as Head Branch

Head is nothing but the reference to the branch

Head not only reference a branch it also reference the commit sha1

if the head points to a specific commit then it is called as detached head


****************
GIT RESET
****************

The term reset itself stands for undoing changes . Reset is often referred as confusing command. Reset does different things in different contexts. So thats why it is considered as complex command.

reset is the command we use when we want to move the repository back to a previous commit, discarding any changes made
after that commit.

Reset has options 

--hard -> moves the files both to working area and staging area

--mixed -> moves the files only to stage area . (default option)

--soft -> does not move the files











 -->

<router-outlet></router-outlet>