<!-- 

  GIT: is a version control system also known as VCS

  Basically Version Control system is the software designed to record changes made to the file over time.
  Git gives us ability to revert the files or set of files you made changes


  We have 3 kinds of Version Control System

  1.Local
  2.Cenralized
  3.Distributed

  Local Version Control System
  -------------------------------------

  Many people use this method
  This method is to copy files into another directory.
  They keep the files with the timestamp directory
  It is very simple that we maintain the backup
  

  Centralized Version Control System
  --------------------------------------

  DISTRIBUTED VERSION CONTROL SYSTEM
  ------------------------------------------

  # Clients not only checkout the snapshot of the files , they can also fully mirror the repository incluiding its full history

  # Every clone is a full backup of all the data


  @@ Three states in GIT

  Git has 3 main states that your files can reside in : modified, staged, and commited 

  @ Modified means that you have changed the file but have not commited it to your database yet.
  @ Staged means that you have marked a modified file in its current version to go into your next commit snapshot

  @ Committed means that the data is safely stored in your local database.

  

  GIT CONFIGURATION
  --------------------------
  Git uses a series of configuration files to determine the behaviour

  Git has multiple levels of configuration

  1.Repository/project level (local)
  2.User Account (Global level)
  3.System Level (Git Installation)

  Git Config Locations 
  **************************

 1. Local(Repository/Project level)
  <your-project-repository>/.git/config

 2. Global (User Level)
    C/Users/Private/.gitconfig

  
 COMMAND : Check Complete Git Config
 ------------------------------
  git config --list --show-origin

COMMAND : Get list of all available git commands
  git help - a

GIT Diff command
-----------------

Diff command is used in git to track the difference between the changes made on a file

Diff command takes two inputs and reflects the differences between them

    


 -->

<router-outlet></router-outlet>