<!--What is unit testing:  Unit testing is testing individual units of code. Here unit is the smallest testable part of your code.(it can be a function, your component, pipe,service etc)


  **Why unit testing is necessary : 1..If you dont have unit tests every time whwen you change the code we need to test manually each page, each feature before you publish. 2.. Another reason is the code Quality. The code which is tested is best 3..If in your project changes occur quickly in that case testing is going to help you . If your code is tested we can release the changes very quickly without breaking.

  it documnets your own code. Unit tests are the way of explaining the function what it does what are the params it has to be passed.
-->