<!-- In angular we can make http call with the help of 2 things REST APi or GraphQl. Most commonly use is RestAPI

Why we make the http request: To get the data from database we would make http requests

Why we are taking the help of REST API to get the data?? Why Angular directly not get the data from DB.

For the security reason
-->

<div class="container-fluid">
  <div class="bg-dark text-white">
    <ul>
      <li><a routerLink="/post" class="text-white">Post Form data :click here</a></li>
    </ul>
  </div>

</div>

<router-outlet></router-outlet>