<!-- karma is a tool also known as test runner 
    jasmine is a  javascript framework for testing
    
    we may have lots of spec.ts file (basically these are testing files) in our application but which one 
    should be tested first and then next one all these things can be manage from test.ts file of your
    angular application


    BASICS OF THE TESTING

   -- Testing is the process of assessing the completeness and quality of computer software.Usually this
      is done by running a part of a web application and comparing the actual behaviour to the expected
     behavior

     There will be two methods to test the web Application

     1. Manual Testing
     2. Automated testing

     Manual Testing : is a form of testing done by a human interacting with a system. This will be 
     something like clicking , dragging, and typing through a webpage

     While Testing if the observed behaviour does not match the expected behaviour, the application has an error

     Error , like the ones you may have found in the provided web app , are also called bugs . A bug is an error 
     , fault or flaw in software that makes a system behave in unexpected ways. These unexpected behaviours can cause
     harm to users. Ideally testing catches bugs before they are sent to users

      Disadvantages of Manual Testing: 

     Manual test takes More time, less accuracy , executing the same test again and again 
     For every release you must rerun the same set of tests which can be tiresome

     Automated testing 

     --) is the use of software to control the execution of tests and the comparison of actual behaviour
        to expected behavior

        Advantage: Fast, Reliable, you can review , edit and extend a collection of tests
                   Rather than hire a testing team at the end of development, professional developers
                   can run therir automated tests after every change

    Automated Testing workflow

    1. Write the code and corresponding tests
    2. Enter a command into terminal to run tests
    3. If the app behaves as intended , all tests should pass . Development is complete
    4. If it does not behave as intended , at least one test should fail. Fixed the code and return to step2


    TYPES OF AUTOMATED TESTS: wide range of type of tests are available few most commons are

    1. UNIT TEST
    2. INTEGRATION TEST
    3. FUNCTIONAL TESTS(e2e or end to end testing)

    UNIT TESTING: is the practice of testing small pieces of code, typically individual functions,
    alone and isolated.for single piece of logic. Mostly it should not be dependent to some other function

    If your test uses some external resource , like the network or a database , its not a unit 
    test.

    Unit tests should be fairly simple to write.


    INTEGRATION TEST : As the name suggests, in the integration testing the idea is to test how parts 
    of the system work together

    Integration test are similar to unit tests , but theres one big difference: while unit tests are 
    isolated from other components, integration tests are not.

    These are slower and complex and may need some setup and configuration


    E2E TESTING : Functional testing is also sometimes called E2E testing, or browser testing . They all 
    refer to the same thing.

    Functional testing is defined as the testing of complete functionality of some application

    -----------------------------------------------------------------------------------------------

    TEST DRIVEN DEVELOPMENT: This is software development testing practices

    We have heard of Test-Driven-Development(TDD) and Behaviour-Driven-Development(BDD)

    Nowdays mostly we follow Agile approach for software development. Since Agile approach follows 
    continuous change , we would have lots of sprints and lots of task inside that sprint and after c
    completing all the task that sprint would be closed.

    Due to continuous change in Agile approach , Testing became more valuable, important and fundamental
    thing for this Agile approach.

    TDD is a software development technique that involves writing automated test cases prior to 
    writing functional pieces of the code.

    TDD means the test will drive your development.Firts you will right test cases you will run the test
    and test get failed then you will refactor your code your test case get passed now your development 
    completed.

    ---------------------------------------------------------------------------------------------

    BEHAVIOUR DRIVEN DEVELOPMENT : 

    BDD is a software development technique that defines the user behaviour prior to writing test
    automation scripts or the functional pieces of code

    The behaviour of the user is defined by a product owner/business analyst/ QA 
    These are then converted to automated scripts to run against functional code

    Lets take an example we have a calculator feature(add,substract,multiplication,division) so in BDD approach we will consider that this
    entire calculator behavior is working properly or not.

    Whereas in TDD approach it will not check calculator feature . it will check whether this single
    addition, substraction, divison working properly or not.

    BDD mainly focus on client requirements
    TDD main focus is on unit test

    In BDD the starting point is a scenario.
    In TDD the starting point is a test case








    









-->


<h1>{{title}}</h1>




<td>
  <div class="row">
    <div class="col-3">
      <label class="checkbox-label cursor-pointer">
        <input type="checkbox" class="d-none">
        <i class="rounded-circle d-inline-block mx-1"></i>
      </label>
    </div>
    <div class="col-9">
      <span class="name">hello</span>
      <img src="assets/images/ic-overdue-orb.svg" alt="" style="margin-left: 10px;">
    </div>
  </div>
</td>